.skills__container {
  width: 80vw;
  text-align: center;
}

.skills__heading {
  display: flex;
  justify-content: center;
}

.skillsLogo__container {
  display: flex;
  justify-content: center;
}

.skill__logo {
  width: 10vw;
  padding: 15px;
  text-decoration: none;
}
