.skills__container {
  width: 70vw;
  display: flex;
  flex-wrap: wrap;
  gap: 2vw;
  justify-content: center;
}

.skills__heading {
  display: flex;
  justify-content: center;
}

.skill__logo {
  width: 10vw;
  padding: 15px;
  text-decoration: none;
}
