.about__container {
  display: flex;
  justify-content: center;
  align-content: center;
}

.aboutText__container {
  width: 35vw;
  margin-right: 60px;
  align-content: center;
}

.loading__container {
  align-content: center;
}

.about__text {
  font-size: 1.2rem;
}
