.about__container {
  display: flex;
  margin: auto;
  margin-top: 11vh;
  margin-bottom: 10vh;
  padding-top: 10vh;
  width: 70vw;
}

.aboutText__container {
  width: 40vw;
  margin-right: 60px;
  align-content: center;
  align-self: center;
}

.loading__container {
  align-content: center;
}

.about__heading {
  margin: 0;
}

.about__text {
  font-size: 1.2rem;
}

.about__icon {
  width: 20vw;
  margin: auto;
  align-self: center;
}
