.footer__container {
  display: flex;
  flex-direction: column;
  padding: 3rem 2rem;
  margin-top: 4rem;
}

.footer__content {
  display: flex;
  justify-content: space-around;
  margin: 20px auto;
}

.footer__link {
  display: block;
  color: #b0b0b0;
  text-decoration: none;
  transition: color 0.3s ease, text-shadow 0.3s ease;
  font-weight: 500;
  margin-right: 15px;
  margin-left: 15px;
}

.footer__link:hover {
  color: #404040;
}

.footer__text {
  color: #b0b0b0;
  font-size: 0.9rem;
  line-height: 1.4;
}
