.navcard__container {
  height: 2.5rem;
  border-radius: 5px;
  align-self: center;

  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  padding: 0 8px;
}

.navcard__icon {
  width: 50px;
  flex-shrink: 0;
}

.navcard__text {
  font-weight: 500;
  text-align: center;
  margin: 0;
}

.navcard__container h3 {
  font-size: clamp(1rem, 3.5vw, 1.3rem);
  margin: 0;
}
